@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/* Headings */
.intro-heading {
    font-family: Lobster, cursive;
    font-size: 8rem;
    color: #ffd700;
    text-shadow: 6px 6px 0.1px #851de0;
}

.intro-subheader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: #851de0;
    letter-spacing: 0.1rem;
}