/* Containers */
.container-flex {
    display: flex;
}

.icon-link-container {
    margin-right: 16px;
}

.icon-link-container:last-child {
    margin-right: 0;
}

/* Headings */
.project-card-name {
    font-size: .875rem;
    font-weight: 500;
}

.project-card-tech {
    font-size: 1rem;
    line-height: 1.1;
    color: var(--darkPurple);
}

/* Items*/
.project-card-list-item {
    margin: 64px 0;
}

.project-card-list-item:last-child {
    margin-bottom: 0;
}

/* Links */
.group-link {
    padding-left: 4px;
}